# Aqui van los archivos que no han de actualizarse.
###########################################
#               TUTORIAL                  #
#                                         #
# p.e: *desktop.ini* ; /data/archivo.ign  #
#                                         #
###########################################

# Archivos de salida de LaTex

/memoria/*.aux
/memoria/*.log
/memoria/*.lof
/memoria/*.out
/memoria/*.synctex.gz
/memoria/*.toc
/memoria/*.pdf
/memoria/*.bbl
/memoria/*.blg
/memoria/bibliografia/*.log
/memoria/*.glo
/memoria/*.ist
/memoria/*.synctex.gz(busy)

# -- Sistemas Operativos ------------------------------

# Windows

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux

.*
!.gitignore
!.htaccess
*~
